@import "../../../../main.scss";


.custom-item {
    width: 100%;
    height: 100%;

    color: black;

    .item-header {

        width: 100%;

        display: flex;
        justify-content: space-between;
        .item-header-left {
            h1 {
                overflow: hidden;
                color: $bittersweet;
        
                font-size: 1.2rem;
        
                margin-bottom: 5px;
            }
        
            h2 {
                overflow: hidden;
                font-size: 1.1rem;
                margin-bottom: 2px;
        
            }
        
            .item-date {
                font-style: italic;
            }
        }
    }

    .item-description {
        font-weight: lighter;
        font-size: 0.9rem;
    }
}
