@import "../../../../main.scss";

.skill-group {
    @extend %custom-card;

    margin: 0 5%;
    height: 50vh;

    .skill-name {
        height: 20%;

        h2 {
        margin-left: 5%;
        margin-top: 5%;
        }
    }
    
}