.skill {
    margin: 10px;
    margin-left: 20px;
    margin-right: 30px;

    display:flex;
    justify-content: space-between;

    p{
        margin-right: 10px;
    }

   .level{

    .circle {
        margin: 2px;
    }
   }
}