@import "../../../../main.scss";

.project {
    @extend %custom-border;

    width: 20vw;
    height: 40vh;

    .project-image {
        margin-top: 3%;
        margin-left: 4%;

        width: 92%;
        

        @extend %custom-border;
    }

    p {
        margin-top: 2%;
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 8%;
    }

    .buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;

        a {
            width: 35%;
            .project-button {
                width: 100%;
            }
        }
    }
    
}