@import "../../../main.scss";

.project-grid {
    margin: auto;

    padding: 5%;

    display: grid;
 

    @include sm {
        grid-template-columns: repeat(1,1fr);
    }

    @include md {
        grid-template-columns: repeat(2,1fr);
    
    }

    @include lg {
        grid-template-columns: repeat(4,1fr);   
    }
}
  