@import "../../../main.scss";

.about-page {
   width: 80vw;
   height: 90vh;

   margin-left: 10vw;

   

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
   .card {
         @extend %custom-card;

         height: 90%;
         width: 100%;

         display: flex;
      .card-left {
         width: 40%; 
         height: 100%;
     
         padding: 1%;

         h1{
            margin-top: 2%;
         }

         p {
            margin-top: 5%;
            margin-bottom: 5%;
         }

         .line{
            border: 1px solid white;
            width: 90%;
            margin: auto;
         }

         button {
            @extend %primary-button
         }
     
        }
        .card-right {
           width: 60%; 
           height: 100%;
        
           padding: 1%;

           .about-info {

           }

          
       
          }
   }

}