@use "sass:color";
@use "../../../main.scss" as *;

.about-page {
  width: 80vw;
  height: 90vh;

  margin-left: 10vw;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include sm {
    width: 94vw;
    margin-left: 3vw;
  }

  .card {
    @extend %custom-card;

    margin-top: 20vh;

    height: 90%;
    width: 100%;

    display: flex;
    .card-left {
      width: 40%;
      height: 100%;

      padding: 1%;

      @include sm {
        width: 100%;
      }

      h1 {
        margin-top: 2%;
      }

      p {
        margin-top: 5%;
        margin-bottom: 5%;
      }

      .line {
        border: 1px solid $white;
        width: 90%;
        margin: auto;
      }
      ul {
        margin-top: 5%;

        li {
          margin: auto;
          margin-top: 4%;

          list-style: none;

          button {
            @extend %reset-button;
            @extend %secondary-button;

            width: 100%;
          }
        }
      }

      .buttons {
        width: 80%;
        margin-left: 10%;
        .active {
          color: color.adjust($bittersweet, $lightness: 1%);
          border: 1px solid color.adjust($bittersweet, $lightness: 1%);
        }
      }
    }
    .card-right {
      @extend %disable-scrollbar;

      width: 60%;
      height: 100%;

      padding: 1%;

      overflow-y: auto;

      @include sm {
        width: 100%;

        padding: 0;
      }

      .about-info {
        margin: 10% 5%;

        p {
          margin-top: 5%;
        }
      }
    }
  }

  .mobile-card {
    display: none;

    padding-top: 1%;

    @include sm {
      display: block;
    }

    .close-icon {
      @extend %reset-button;

      position: absolute;
      left: 5px;
      top: 5px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 25px;
      height: 25px;

      z-index: $z-overlay;
    }
  }

  .desktop-card {
    @include sm {
      display: none;
    }
  }
}
