@import "../../../main.scss";

.about-page {
   width: 80vw;
   height: 90vh;

   margin-left: 10vw;

   

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
   .card {
    width: 40%;
    height: 80%;

    @extend %custom-border;

    padding: 1%;

   }


}