@import "../../main.scss";

.nav-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: $black;

    .icons {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .links {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .nav-link{
        color: $white;
        text-decoration: none;
    }

}