@use "sass:color";
@use "../../../main.scss" as *;

.navbaritem {
    &:hover {
        color:$bittersweet;
        font-weight: bold;
    }

    &::first-letter {
        text-transform: capitalize;
    }

    @include sm {
        display: none;
    }

}


.sidebaritem {

    padding: 5px;

    &:hover {
        color:$bittersweet;
        font-weight: bold;
    }

    &::first-letter {
        text-transform: capitalize;
    }
}

.navbaritem.active,.sidebaritem.active {
    color: color.adjust($bittersweet, $lightness: 0.5%)
}


