@import "../../../main.scss";

.navbaritem {
    &:hover {
        color:$bittersweet;
        font-weight: bold;
    }

    &::first-letter {
        text-transform: capitalize;
    }

    @include sm {
        display: none;
    }



}

.active {
    color: lighten($color: $bittersweet, $amount: 0.5)
}
