//Main colors

$black: #000000;
$white: #ffffff;
$violet: #0e0533;
$bittersweet:#FA7E61;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    position: relative;

}
 
body {
    color: $white;
    background-color: $violet;

    .container {

        width: 100%;
        height: 90vh;

        .video {
            height: 90vh;

            position: absolute;
            z-index: -3;

            opacity: 0.75;
        }
    }

    .button {
        background-color: inherit;
        border: 1px solid $white;
        border-radius: 25px;
        padding: 10px;

        color: $white;
        font-size: 1rem;

        &:hover {
            color: $bittersweet;
        }
    }

}